/* Color Scheme: http://paletton.com/#uid=13C0B0kbRt14+E48dwffUpTkImm */



body {
    margin: 0;
    padding: 0;
    background-color: #BCC8D7;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    border-color: transparent;
    background-color: #647B97;
}

#navbar a {
    color: white;
}

.jumbotron {
    background-image: url("sandwich.jpg");
}

.jumbotron h1 {
    font-size: 6em;
    color: white;
    text-shadow: 2px 2px grey;
}

td {
    padding-right: 20px;
}

#menu {
    -webkit-box-shadow: 10px 11px 12px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 12px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 12px -10px rgba(0, 0, 0, 0.75);
    background-image: url("papertexture.jpg");
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#reservation-info {
  font-size: 1.3em;
}

.panel {
  background-color: #BCC8D7;
-webkit-box-shadow: 9px 9px 22px 5px rgba(100,123,151,1);
-moz-box-shadow: 9px 9px 22px 5px rgba(100,123,151,1);
box-shadow: 9px 9px 22px 5px rgba(100,123,151,1);
    border: 1px solid #647B97;
}

.panel-heading {
    background-color: #647B97;
}

#contact {
    margin-bottom: 50px;
}
